:root {
  --rosewater: #f2d5cf;
  --rosewater-rgb: 242 213 207;
  --rosewater-hsl: 10.286 57.377% 88.039%;
  --flamingo: #eebebe;
  --flamingo-rgb: 238 190 190;
  --flamingo-hsl: 0.000 58.537% 83.922%;
  --pink: #f4b8e4;
  --pink-rgb: 244 184 228;
  --pink-hsl: 316.000 73.171% 83.922%;
  --mauve: #ca9ee6;
  --mauve-rgb: 202 158 230;
  --mauve-hsl: 276.667 59.016% 76.078%;
  --red: #e78284;
  --red-rgb: 231 130 132;
  --red-hsl: 358.812 67.785% 70.784%;
  --maroon: #ea999c;
  --maroon-rgb: 234 153 156;
  --maroon-hsl: 357.778 65.854% 75.882%;
  --peach: #ef9f76;
  --peach-rgb: 239 159 118;
  --peach-hsl: 20.331 79.085% 70.000%;
  --yellow: #e5c890;
  --yellow-rgb: 229 200 144;
  --yellow-hsl: 39.529 62.044% 73.137%;
  --green: #a6d189;
  --green-rgb: 166 209 137;
  --green-hsl: 95.833 43.902% 67.843%;
  --teal: #81c8be;
  --teal-rgb: 129 200 190;
  --teal-hsl: 171.549 39.227% 64.510%;
  --sky: #99d1db;
  --sky-rgb: 153 209 219;
  --sky-hsl: 189.091 47.826% 72.941%;
  --sapphire: #85c1dc;
  --sapphire-rgb: 133 193 220;
  --sapphire-hsl: 198.621 55.414% 69.216%;
  --blue: #8caaee;
  --blue-rgb: 140 170 238;
  --blue-hsl: 221.633 74.242% 74.118%;
  --lavender: #babbf1;
  --lavender-rgb: 186 187 241;
  --lavender-hsl: 238.909 66.265% 83.725%;
  --text: #c6d0f5;
  --text-rgb: 198 208 245;
  --text-hsl: 227.234 70.149% 86.863%;
  --subtext1: #b5bfe2;
  --subtext1-rgb: 181 191 226;
  --subtext1-hsl: 226.667 43.689% 79.804%;
  --subtext0: #a5adce;
  --subtext0-rgb: 165 173 206;
  --subtext0-hsl: 228.293 29.496% 72.745%;
  --overlay2: #949cbb;
  --overlay2-rgb: 148 156 187;
  --overlay2-hsl: 227.692 22.286% 65.686%;
  --overlay1: #838ba7;
  --overlay1-rgb: 131 139 167;
  --overlay1-hsl: 226.667 16.981% 58.431%;
  --overlay0: #737994;
  --overlay0-rgb: 115 121 148;
  --overlay0-hsl: 229.091 13.360% 51.569%;
  --surface2: #626880;
  --surface2-rgb: 98 104 128;
  --surface2-hsl: 228.000 13.274% 44.314%;
  --surface1: #51576d;
  --surface1-rgb: 81 87 109;
  --surface1-hsl: 227.143 14.737% 37.255%;
  --surface0: #414559;
  --surface0-rgb: 65 69 89;
  --surface0-hsl: 230.000 15.584% 30.196%;
  --base: #303446;
  --base-rgb: 48 52 70;
  --base-hsl: 229.091 18.644% 23.137%;
  --mantle: #292c3c;
  --mantle-rgb: 41 44 60;
  --mantle-hsl: 230.526 18.812% 19.804%;
  --crust: #232634;
  --crust-rgb: 35 38 52;
  --crust-hsl: 229.412 19.540% 17.059%;
}
